.header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #4682b4; 
    font-weight: 80;
    font-size: 30px;
}


body{
    text-align: center;
    background: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 100;
}

h1{
  color: #4682b4;
  font-weight: 100;
  font-size: 35px;
  margin: 40px 0px 20px;
}

span.titleStyle1{
    font-family: sans-serif;
    color: #fff;
    background: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    width: 300px;
}

span.timerSpanStyle1{
    font-family: sans-serif;
    color: #fff;
    background: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 50px;
    
}

.progressStyle{    
    width: 300px;
    height: 10px;
}

/*
#exerciceTitleDiv > div{
    padding: 10px;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    display: inline-block;
    width: 250px;
}


#exerciceTitleDiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    display: inline-block;
}

#timerDisplayDiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#timerDisplayDiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#timerDisplayDiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

*/

